.postCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F4FCFF;
    border-radius: 25px;
    margin-bottom: 10px;
    color: black; 
    align-items: center;
}

.imagecontainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 35px;
    align-items: center;
    max-width: 90%;
}

.contentcontainer {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: scale-down;
    margin-top: 1rem;
}

.postimage {
    max-width: 100%;
    height: auto;
    object-fit: scale-down;
}

.PostHeading {
    font-size: 30px;
    font-weight: 1000;
    margin-top: 10px;
    text-align: center;
}

.ratingcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    background-color: #D9D9D9;
    border-radius: 25px;
    max-height: 20rem;
}

.arrow {
    max-width: 55px;
    max-height: 53px;
}

h3 {
    color: #DE1B0F;
}

.author {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #D9D9D9;
    width: 85%;
    border-radius: 25px;
    margin: 1rem;
}

.commentimg {
    max-width: 50px;
    
}

.author p {
    color: black;
    font-size: 1.75rem;
    margin: 10px;
}

.commentsbutton:hover {
    cursor: pointer;
}

.selfText {
    font-size: 2rem;
}

/* responsive design */
@media only screen and (max-width: 600px) {
    .PostHeading {
        font-size: 1rem;
        font-weight: 500;
        margin: 5px;
        text-align: center;
    }

    .imagecontainer {
        gap: 10px;
        align-items: center;
        max-width: 95%;
    }

    .ratingcontainer {
        gap: 5px;
        border-radius: 20px;
        max-height: 10rem;
    }

    .ratingcontainer h3 {
        font-size: 0.75rem;
    }

    .arrow {
        max-width: 2.5rem;
        max-height: 2.5rem;
    }

    .author {
        width: 95%;
        border-radius: 25px;
        margin: 0.5rem;
        height: 2.5rem;
    }
    .author p {
        color: black;
        font-size: 1.25rem;
        margin: 10px;
    }

    .commentimg {
        width: 2.5rem;
    }
    
}