.home{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 20px;
}

.griditem1 {
    grid-column: 1 / span 4;
}

.griditem2 {
    grid-column: 6 / span 12;
}